<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DemoTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF037C3E2520572E00BCF03A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF0C572624D3B3BA001CAC0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF8916A5247A5F1A0080665E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFBB4A2D249B13FF0055CA66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFD58B5025205594001CA10D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
